asyncio==3.4.3
certifi==2025.1.31
contourpy==1.3.1
cycler==0.12.1
dill==0.3.9
fonttools==4.57.0
geopandas==1.0.1
kiwisolver==1.4.8
matplotlib==3.10.1
numpy==2.2.4
packaging==24.2
pandarallel==1.6.5
pandas==2.2.3
pillow==11.1.0
psutil==7.0.0
pyarrow==19.0.1
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==75.8.0
shapely==2.1.0
six==1.17.0
termcolor==3.0.1
tzdata==2025.2
wheel==0.45.1
